@{
    ViewBag.Title = "Bootstrap";
}

<h3>Twitter Bootstrap examples.</h3>

<p><button type="button" class="btn btn-primary btn-lg btn-block" onclick="window.location.href = '/Content/Bootstrap/bootstrap-3.1.1/docs/examples/blog/index.html'">Blog</button></p>
<p><button type="button" class="btn btn-primary btn-lg btn-block" onclick="window.location.href = '/Content/Bootstrap/bootstrap-3.1.1/docs/examples/carousel/index.html'">Carousel</button></p>
<p><button type="button" class="btn btn-primary btn-lg btn-block" onclick="window.location.href = '/Content/Bootstrap/bootstrap-3.1.1/docs/examples/cover/index.html'">Cover</button></p>
<p><button type="button" class="btn btn-primary btn-lg btn-block" onclick="window.location.href = '/Content/Bootstrap/bootstrap-3.1.1/docs/examples/dashboard/index.html'">Dashboard</button></p>
<p><button type="button" class="btn btn-primary btn-lg btn-block" onclick="window.location.href = '/Content/Bootstrap/bootstrap-3.1.1/docs/examples/grid/index.html'">Grid</button></p>
<p><button type="button" class="btn btn-primary btn-lg btn-block" onclick="window.location.href = '/Content/Bootstrap/bootstrap-3.1.1/docs/examples/jumbotron/index.html'">Jumbotron</button></p>
<p><button type="button" class="btn btn-primary btn-lg btn-block" onclick="window.location.href = '/Content/Bootstrap/bootstrap-3.1.1/docs/examples/jumbotron-narrow/index.html'">Jumbotron-narrow</button></p>
<p><button type="button" class="btn btn-primary btn-lg btn-block" onclick="window.location.href = '/Content/Bootstrap/bootstrap-3.1.1/docs/examples/justified-nav/index.html'">Justified-nav</button></p>
<p><button type="button" class="btn btn-primary btn-lg btn-block" onclick="window.location.href = '/Content/Bootstrap/bootstrap-3.1.1/docs/examples/navbar/index.html'">Navbar</button></p>
<p><button type="button" class="btn btn-primary btn-lg btn-block" onclick="window.location.href = '/Content/Bootstrap/bootstrap-3.1.1/docs/examples/navbar-fixed-top/index.html'">Navbar-fixed-top</button></p>
<p><button type="button" class="btn btn-primary btn-lg btn-block" onclick="window.location.href = '/Content/Bootstrap/bootstrap-3.1.1/docs/examples/navbar-static-top/index.html'">Navbar-static-top</button></p>
<p><button type="button" class="btn btn-primary btn-lg btn-block" onclick="window.location.href = '/Content/Bootstrap/bootstrap-3.1.1/docs/examples/non-responsive/index.html'">Non-responsive</button></p>
<p><button type="button" class="btn btn-primary btn-lg btn-block" onclick="window.location.href = '/Content/Bootstrap/bootstrap-3.1.1/docs/examples/offcanvas/index.html'">Offcanvas</button></p>
<p><button type="button" class="btn btn-primary btn-lg btn-block" onclick="window.location.href = '/Content/Bootstrap/bootstrap-3.1.1/docs/examples/signin/index.html'">Signin</button></p>
<p><button type="button" class="btn btn-primary btn-lg btn-block" onclick="window.location.href = '/Content/Bootstrap/bootstrap-3.1.1/docs/examples/starter-template/index.html'">Starter-template</button></p>
<p><button type="button" class="btn btn-primary btn-lg btn-block" onclick="window.location.href = '/Content/Bootstrap/bootstrap-3.1.1/docs/examples/sticky-footer/index.html'">Sticky-footer</button></p>
<p><button type="button" class="btn btn-primary btn-lg btn-block" onclick="window.location.href = '/Content/Bootstrap/bootstrap-3.1.1/docs/examples/sticky-footer-navbar/index.html'">Sticky-footer-navbar</button></p>
<p><button type="button" class="btn btn-primary btn-lg btn-block" onclick="window.location.href = '/Content/Bootstrap/bootstrap-3.1.1/docs/examples/theme/index.html'">Theme</button></p>
