@{
    ViewBag.Title = "Links";
}
<h3>External links.</h3>

<p><button type="button" class="btn btn-primary btn-lg btn-block" onclick="window.location.href = 'https://kendoui.codeplex.com/'">Codeplex KendoUI</button></p>
<p><button type="button" class="btn btn-primary btn-lg btn-block" onclick="window.location.href = 'http://bootstraptour.com/'">Bootstrap Tour</button></p>
<p><button type="button" class="btn btn-primary btn-lg btn-block" onclick="window.location.href = 'http://getbootstrap.com'">Bootstrap Demos</button></p>
<p><button type="button" class="btn btn-primary btn-lg btn-block" onclick="window.location.href = 'http://www.telerik.com/kendo-ui'">Kendo U</button></p>
<p><button type="button" class="btn btn-primary btn-lg btn-block" onclick="window.location.href = 'http://demos.telerik.com/kendo-ui/web/overview/index.html'">Kendo UI HTML Demos</button></p>
<p><button type="button" class="btn btn-primary btn-lg btn-block" onclick="window.location.href = 'http://jquery.com'">jQuery</button></p>
<p><button type="button" class="btn btn-primary btn-lg btn-block" onclick="window.location.href = 'http://jquerymobile.com/'">jQuery Mobile</button></p>
<p><button type="button" class="btn btn-primary btn-lg btn-block" onclick="window.location.href = 'http://demos.jquerymobile.com/1.4.2/'">jQuery Mobile Demos</button></p>
<p><button type="button" class="btn btn-primary btn-lg btn-block" onclick="window.location.href = 'https://jqueryui.com/'">jQuery UI</button></p>
<p><button type="button" class="btn btn-primary btn-lg btn-block" onclick="window.location.href = 'http://jqueryui.com/demos/'">jQuery UI Demos</button></p>
<p><button type="button" class="btn btn-primary btn-lg btn-block" onclick="window.location.href = 'https://github.com/aFarkas/html5shiv'">GitHub HTML5 Shiv</button></p>
<p><button type="button" class="btn btn-primary btn-lg btn-block" onclick="window.location.href = 'https://appharbor.com/'">AppHarbor</button></p>
<p><button type="button" class="btn btn-primary btn-lg btn-block" onclick="window.location.href = 'http://razor.servicestack.net/'">razor.servicestack.net</button></p>
<p><button type="button" class="btn btn-primary btn-lg btn-block" onclick="window.location.href = 'http://mono.servicestack.net/'">mono.servicestack.net</button></p>
<p><button type="button" class="btn btn-primary btn-lg btn-block" onclick="window.location.href = 'https://github.com/ServiceStack/ServiceStack/wiki'">ServiceStack wiki</button></p>
<p><button type="button" class="btn btn-primary btn-lg btn-block" onclick="window.location.href = 'https://github.com/ServiceStack'">GitHub ServiceStack</button></p>
<p><button type="button" class="btn btn-primary btn-lg btn-block" onclick="window.location.href = 'https://github.com/ServiceStack/RazorRockstars'">GitHub RazorRockstars</button></p>
<p><button type="button" class="btn btn-primary btn-lg btn-block" onclick="window.location.href = 'http://www.nuget.org/packages/ServiceStack.Razor/3.9.10'">Nuget ServiceStack.Razor</button></p>