
/* Begin: /Content/Bootstrap/bootstrap-3.1.1/docs/examples/navbar/navbar.css */

body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}

/* End: /Content/Bootstrap/bootstrap-3.1.1/docs/examples/navbar/navbar.css */